h3 {
    color: #2f9a2c;
}

.error {
    display: block;
    font-size: 12px;
    color: #CA0000;
    padding-left: 5px;
    padding-top: 5px;
}

.blackBackground {
    background-color: #010a01;
}

@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {

        text-shadow:
                0 0 4px #fff,
                0 0 6px #fff,
                0 0 11px #fff,
                0 0 18px #b5f507,
                0 0 44px #b5f507,
                0 0 45px #b5f507,
                0 0 66px #b5f507,
                0 0 88px #b5f507;

    }
    20%, 24%, 55% {
        text-shadow: none;
    }
}